body{
    font-family: 'Montserrat', sans-serif;    
}

.wrapper-booking{
    padding: 10px 60px 0px 60px;
}

.title{
    color: #015249;
    font-weight: 600;
    font-size: 30px;
}

a > button{
    font-weight: 600;
    font-size: 15px;
}

.btn{
    background-color: #015249;
    color: white;
    width: 250px;
}