body {
    font-family: 'Montserrat', sans-serif;
    
}

.wrapper {
    padding: 60px 80px 60px 80px;
}

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 100px 10px 100px;
    width: 700px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 0.81);
    box-shadow: 10px 10px 17px -9px rgba(0, 0, 0, 0.81);
}

.text {
    color: #015249;
    font-size: 30px;
    font-weight: 600;
}

.button-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: px;
}